.*
!.gitignore
!.gitlab-ci.yml
!.sops.yaml

build
dist
docker
coverage.*
vendor

*.crt
*.key

/logs/pact.log
*.dec
*.dec.yml
*.dec.yaml
*.pem
swagger.json
swagger.yml

*.rdb
output
node_modules
mockserver/

*.rsa.prv
*.rsa.pub
